@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #202020;
  color: white;
  overflow: hidden; /* Remove barras de rolagem */
}

#root {
  width: 100vw;   /* Largura total da visão */
  height: 100vh;  /* Altura total da visão */
  max-width: none; /* Remove o limite de 800px anterior */
  border: none;    /* Remove a borda cinza */
  box-shadow: none;
  background-color: #f8f9fa; /* Fundo claro dentro do jogo */
  color: black;
  display: flex;
  flex-direction: column;
}

/* Regra de Ouro para Pixel Art: Mantém os pixels quadrados ao dar zoom */
img {
  image-rendering: pixelated; 
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Botão Gigante */
.btn-pixel {
  font-family: 'Press Start 2P', cursive;
  background: #fff;
  border: 6px solid #333; /* Borda mais grossa */
  padding: 25px 50px;     /* Mais espaçamento */
  cursor: pointer;
  text-transform: uppercase;
  font-size: 24px;        /* Fonte maior */
  box-shadow: 8px 8px 0px #333; /* Sombra maior */
  transition: transform 0.1s;
}

.btn-pixel:active {
  transform: translate(8px, 8px);
  box-shadow: none;
}

/* Classe utilitária para container centralizado */
.full-screen-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Botão de Ação na Batalha */
.btn-action {
  font-family: 'Press Start 2P', cursive;
  background: white;
  border: 2px solid #333;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  transition: background 0.1s;
}

.btn-action:hover {
  background-color: #f0f0f0;
  color: #DC0A2D; /* Vermelho ao passar o mouse */
}

/* Animação simples de flutuar para o Pokemon Inimigo */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* Botão específico de Golpe */
.btn-move {
  font-family: 'Press Start 2P', cursive;
  background: #f8f8f8;
  border: 2px solid #555;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

.btn-move:hover {
  background-color: #ffe5b4; /* Um laranja claro */
  border-color: #d35400;
  transform: scale(1.02);
}

.btn-move:active {
  background-color: #aaa;
}